.circle {
  width: 696px;
  height: 696px;
  border: 1px solid #5327ff;
  opacity: 0.3;
  top: -89px;
  left: 41%;
  border-radius: 50%;
  position: absolute;
  z-index: 0; }
  .circle:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 554px;
    height: 554px;
    border: 1px solid #5327ff;
    border-radius: 50%;
    opacity: 0.6; }
  .circle:before {
    content: "";
    width: 435px;
    height: 435px;
    border: 12px solid #5327ff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    position: absolute;
    z-index: 0; }
